/* 尾注基本样式 */
footer {
    padding: 3rem;
    color: rgb(209, 213, 219);
    background-color: rgb(17, 24, 39);
}

/* 尾注段落样式 */
footer p {
    text-align: center;
    margin-top: 1rem;
    padding-top: 1.5rem;
    border-top: 1px solid rgb(31, 41, 55);
}

/* 尾注容器样式 */
footer .Container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
}

/* 容器元素标题样式 */
footer .Container h3 {
    margin-bottom: 1rem;
}

/* 联系方式图标样式 */
footer .Container .Infomations img {
    margin-right: 0.5rem;
}

/* 联系方式容器样式 */
footer .Container .Infomations .Contact div {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

/* 快速链接容器样式 */
footer .Container .Link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* 链接按钮样式 */
footer .Container .Link button {
    border: none;
    margin-bottom: 1rem;
    font-size: medium;
    color: rgb(209, 213, 219);
    background-color: transparent;
}